body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(120deg,  rgba(194,74,18,1) 0%, rgba(255,170,0,1) 100%);
}

#search__zone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

#search__zone h1 {
  color: white;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  padding: 0 30px;
  font-size: 1.5rem;
}

#search__bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 8px;
  padding: 6px;
  outline: none;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
}

form #search__bar input {
  border: none;
  outline: none;
  width: 100%;
  height: 30px;
  font-size: 1rem;
}

form #search__bar button {
  border: none;
  border-radius: 50%;
  background-color: transparent;
}

form #search__bar button:hover {
  cursor: pointer;
}

form #search__bar button i {
  font-size: 1rem;
}

@media screen and (max-width: 449px) {
  form {
    width: 80%;
  }
}

@media screen and (min-width: 450px) {
  form {
    width: 50%;
  }
}

@media screen and (min-width: 800px) {
  form {
    width: 25%;
  }
}

