$fonte-grande: 22px;
$fonte-media: 16px;
$fonte-pequena: 14px;

.converterCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  padding: 50px;
  position: absolute;
  top: 180px;
  height: 400px;
  width: 42%;

  #date {
    font-size: $fonte-pequena;
  }

  #converterContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
    #converterArea {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
      margin-bottom: 80px;
      width: 100%;
      
      .currency {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        button {
          background-color: transparent;
          border: none;
          margin-bottom: 15px;
          font-size: $fonte-pequena;
        }
        
        button:hover {cursor: pointer;}

        .mainCurrencyContent {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          input {
            border: none;
            border-bottom: 2px solid black;
            background-color: rgba(151, 187, 150, 0.25);
            padding: 10px;
            margin: 0 0 10px 0;
            font-size: $fonte-grande;
            width: 72%;
          }
  
          input:focus {outline: none;}
          
          select {
            align-items: center;
            border: none;
            text-align: right;
            width: 74%;
            font-size: $fonte-media;
          }
          
          select:focus {outline: none;}
        }
      }
    }

    #arrows {
      margin: 0 15px;
      width: 95px;
      padding: 5px;
    }

    #arrows:hover {
      cursor: pointer;
    }
    
    #apiAuthor {
      font-size: $fonte-pequena;
      a {
        color: black;
      }
    }
  }
}
