@import "tailwindcss";

@theme {
  --color-primary: #340068;
  --color-secundary: #B1EDE8;
  --color-tertiary: #FFFCF9;
}

@layer components {
  .articles {
    @apply flex justify-center items-center w-9/10 lg:w-3/5 border-[1px] border-solid border-black mb-10 p-5 rounded-2xl shadow-[0_0_8px_rgba(0,0,0,0.25)] bg-secundary flex-col-reverse lg:flex-row
  }

  .articles-main-content {
    @apply flex flex-col h-[800px] justify-between self-start w-full xl:w-1/2
  }

  .articles-text {
    @apply flex flex-col justify-center items-center
  }

  .tags {
    @apply bg-tertiary py-1 px-2 text-sm border-[1px] border-black rounded-xl font-bold
  }

  .articles-head {
    @apply flex flex-col justify-center items-center py-3 mt-1
  }

  .images {
    @apply w-[300px] h-[300px] xl:w-[500px] xl:h-[400px] object-cover rounded-2xl border-black border-[1px]
  }

  .read-btn {
    @apply bg-tertiary self-end py-1 px-3 font-bold border-[1px] rounded-sm hover:cursor-pointer
  }

}