@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Inter', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
}

body {
  background: radial-gradient(circle, rgba(215,0,82,0.2) 0%, rgba(0,0,0,0.2) 100%), #450920;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#options-area {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 42px;
}

#close-icon {
  display: none;
}

#alarm-icon, #close-icon {
  margin-right: 87px;
}

#alarm-icon:hover, #close-icon:hover {
  cursor: pointer;
}

#timer {
  width: 736px;
  height: 736px;
  border-radius: 736px;
  border: 5px solid #FFF;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 29px 0 29px 0;

  #content-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #time {
    color: #FFF;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 68px;
    user-select: none;
  }

  #manage-time {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 68px;

    #reduce-time {
      margin-right: 36px;
      transition: 0.15s;
    }
    #reduce-time:hover, #increase-time:hover {
      cursor: pointer;
    }
    #reduce-time:active, #increase-time:active {
      transform: scale(0.98);
    }

  }

  #start-stop-button {
    width: 150px;
    height: 49px;
    border-radius: 22px;
    border: 2px solid #FFF;
    background: transparent;
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 17px;
    transition: 0.15s;
  }
  #start-stop-button:hover {
    background-color: white;
    color: #450920;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(256, 256, 256, 0.8);
  }
  #start-stop-button:active {
    transform: scale(0.98);
  }

  #cancel-reset-button {
    display: inline-block;
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 13px;
  }
  #cancel-reset-button:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: 0.15s;
  }
  #cancel-reset-button:active {
    transform: scale(0.97);
  }
}