body {
  height: 100vh;
  background-image: linear-gradient(126deg, rgba(128,193,255,1) 0%, rgb(178, 100, 247) 100%);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    font-size: 3em;
  }
}

main {
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  #add__task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    background-color: white;
    padding: 10px 12px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);

    #task__input {
      border: none;
      outline: none;
      width: 90%;
      font-size: 1.2em;
    }

    #add__button {
      border: none;
      background-color: white;
      width: 10%;
    }

    #add__button:hover {
      cursor: pointer;
    }
  }

  #tasks {
    margin-top: 60px;
    
    ul {
      width: 100%;
    }

    ul li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      background-color: white;
      padding: 7px 10px;
      margin: 5px;
      border: 1px solid black;
      border-radius: 5px;
      box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
      height: 43px;

      span {
        margin-right: 5px;
        white-space: nowrap;
        overflow: hidden;

        input {
          outline: none;
          border: 1px solid black;
          padding: 3px;
          font-size: 1em;
          margin-right: 4px;
        }
      }

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
      }

      span button, div button {
        background-color: transparent;
        border: none;
        margin: 0 4px;

        i {
          padding: 3px;
        }
      }

      span button i:hover, div button i:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  header h1 {
    font-size: 2.2em;
  }

  main {
    #add__task {
      width: 240px;
      #task__input {
        font-size: 1em;
      }
    }
    
    #tasks {
      width: 85%;
      ul li {
        span {
          font-size: 0.8em;
          input {
            width: 70%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 700px) {
  main {
    #tasks {
      width: 45%;
      height: auto;
    }
  }
}

@media screen and (min-width: 1125px) {
  main {
    #tasks {
      width: 30%;
    }
  }
}