@media screen and (max-width:1440px) {
  $fonte-grande: 18px;
  $fonte-media: 12px;
  $fonte-pequena: 12px;

  .converterCard {
    height: 350px;
    max-width: 600px;
    min-width: 250px;

    #date {
      font-size: $fonte-pequena;
    }

    #converterContent {
      #converterArea {
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 40px;
        
        .currency {
          flex-direction: row-reverse;
          
          button {
            margin-left: 10px;
            font-size: $fonte-pequena;
          }
  
          .mainCurrencyContent {
            input {
              font-size: $fonte-grande;
              width: 140px;
            }
            
            select {
              width: 142px;
              font-size: $fonte-media;
            }
          }
        }
      }

      #arrows {
        margin: 5px 0;
        width: 25px;
      }
      
      #apiAuthor {font-size: $fonte-pequena;}
    }
  }
}